@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#main-container{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}



/*HEADER*/
#header{
    background-color: #110d2a;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 5%;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header img{
    width: 4rem;
    height: 4rem;

    padding-right: 2%;
}

#header h1{
    color: #fff;
    font-family: Merriweather, sans-serif;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);
}

.header-nav a{
    color: #848992;
    font-family: Merriweather, sans-serif;
    font-size: small;
    font-weight: 500;

    padding-left: 1rem;
}

.header-nav a:hover{
    color: #cb9987;
    text-decoration: underline;
    transition: color 0.5s ease; 
}

#header-nav-bt{
    display: none;
}

.header-nav-mobile{
    display: none;
    background-color: #110d2a80;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 0;

    transition: 0.5s;
    overflow: hidden;
}

.header-nav-mobile nav a{
    color: #848992;
    font-family: Merriweather, sans-serif;
    font-size: 2.5rem;
    text-decoration: none;

    display: block;
    padding: 2rem 7rem;        
}

.header-nav-mobile nav a:hover{
    background-color: #110d2afa;
}



/*CONTENT 1*/
#content1{
    width: 100%;
    height: auto;

    background-color: #161617;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content1-text{
    width: 39rem;
    height: 40rem;
}

.content1-text h1{
    color: #cb9987;
    font-family: Merriweather, sans-serif;  
    font-weight: 600;
    font-size: 2rem;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);

    padding-top: 25%;
    padding-bottom: 10%;
}

.content1-text p{
    text-align: justify;
    width: 30rem;
    color: #FFF;
    font-family: Ubuntu, sans-serif;
    font-size: 1.4rem;

    padding-left: 10%;
}

.content1-img{
    width: 30rem;
    height: 30rem;   
}



/*index-CHARACTERS*/
#index-characters{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;

    background: linear-gradient(to top, #363578, #110d2a);
}

#index-characters h1{
    color: #cb9987;
    font-family: Merriweather, sans-serif;  
    font-weight: 600;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);

    padding-left: 9%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.index-characters-cards{
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    grid-gap: 3rem;
    justify-content: space-around;
    align-items: center;
    padding-left: 5rem;
}

.index-characters-card1{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/baluni.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.index-characters-card1:hover{
    background-image: url(assets/blue-background-hover/baluni.png);
    transition: background-image 0.8s ease; 
}

.index-characters-card2{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/juno.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.index-characters-card2:hover{
    background-image: url(assets/blue-background-hover/juno.png);
    transition: background-image 0.8s ease; 
}

.index-characters-card3{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/nelson.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.index-characters-card3:hover{
    background-image: url(assets/blue-background-hover/nelson.png);
    transition: background-image 0.8s ease; 
}

.index-characters-card4{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/nina.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.index-characters-card4:hover{
    background-image: url(assets/blue-background-hover/nina.png );
    transition: background-image 0.8s ease; 
}

.index-characters-card5{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/ricardo.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.index-characters-card5:hover{
    background-image: url(assets/blue-background-hover/ricardo.png);
    transition: background-image 0.8s ease; 
}

.index-characters-card6{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/steff.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.index-characters-card6:hover{
    background-image: url(assets/blue-background-hover/steff.png);
    transition: background-image 0.8s ease; 
}

.index-characters-button{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 4%;
    padding-bottom: 4%;
}

.index-characters-button a{
    color: #FFF;
    font-family: Ubuntu, sans-serif;
    font-size: large;

    background-color: #363578;
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);

    padding: 15% 30%;
    margin-left: 90rem;
}

.index-characters-button a:hover{
    background-color: #363578;
    color: #cb9987;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.characters-container{
    display: none;
}



/*MISSIONS*/
#missions{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color:  #161617;
    background-image: url(assets/luxa.org-opacity-changed-luxa.org-opacity-changed-aldoria_logo_png_bg-removebg-preview-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
}

.missions-blocks{
    display: flex;
    justify-content: center; 
    gap: 15%;
}

.missions-left{
    width: auto;
    height: 25rem;
    overflow: hidden;
}

.missions-right{
    width: auto;
    height: 25rem;
    overflow: hidden;
}

.missions-card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.missions-stars{
    width: 1.5rem;
    height: 1.5rem;
}

.missions-card-stars{
    display: flex;
    justify-content: center;
}

.missions-left-card{
    width: 22.5rem;
    height: 10rem;
    background-color: #110d2a;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);

    display: grid;
    margin-top: 1.5rem;
}

.missions-left-card:hover{
    background-color: #363578;
    transition: background-color 0.8s ease;
}

.missions-right-card{
    width: 22.5rem;
    height: 10rem;
    background-color: #110d2a;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);

    display: grid;
    margin-top: 1.5rem;
}

.missions-right-card:hover{
    background-color: #363578;
    transition: background-color 0.8s ease;
}

.missions-button{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 4rem;
    padding-bottom: 4rem;
}

.missions-button a{
    color: #FFF;
    font-family: Ubuntu, sans-serif;
    font-size: large;

    background-color: #363578;
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);

    padding: 1.4% 3%;
}

.missions-button a:hover{
    background-color: #363578;
    color: #cb9987;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

/*MISSIONS - H*/
#missions h1{    
    color: #cb9987;
    font-family: Merriweather, sans-serif;  
    font-weight: 600;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);    
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 9%;   
}

.missions-blocks h2{
    display: flex;
    justify-content: center;

    color: #cb9987;
    font-family: Merriweather, sans-serif;
    font-size: larger;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);
}

.missions-blocks h3{
    width: 18rem;
    color: #FFF;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
}

.missions-blocks h4{
    color: #cb9987;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: small;

    display: flex;
    justify-content: center;
}



/*CONTACT US*/

#contact-us{
    width: 100%;
    height: auto;
    background-color: #110d2a;
}

#contact-us h1{
    color: #cb9987;
    font-family: Merriweather, sans-serif;  
    font-weight: 600;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);

    padding-left: 9%;
    padding-top: 3%;
    padding-bottom: 1%;
}

#contact-us h2{
    color: #FFF;
    font-family: Ubuntu, sans-serif;
    font-size: large;
    font-weight: 400;

    padding-left: 9%;
}

.contact-us-blocks{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 25%;

    margin-bottom: 3rem;
}

.contact-us-form{
    width: 20rem;
    height: 17rem;

    background-color: #363578;
    color: #FFF;
    border-radius: 1rem;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact-us-form h3{
    display: flex;
    justify-content: justify;
    align-items: center;
    text-align: center;
    
    color: #cb9987;
    font-family: Merriweather, sans-serif;

    padding-top: 10%;
}

.contact-us-form h4{
    color: #FFF;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;

    padding-top: 6%;
    margin-left: 2rem;
}

.contact-us-form input{
    width: 80%;
    height: 1rem;
}

.contact-us-form button{
    width: 4rem;
    height: 1.5rem;

    color: #363578;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;


    margin-top: 1rem;
    margin-left: 8rem;
}

.contact-us-form-text{
    width: 15rem;
    margin-left: 2rem;
}

.contact-us-form-button{
    color: #363578;
    background-color: #FFF;
    font-family: Ubuntu, sans-serif;
    border-radius: 0.25rem;

    margin-top: 1rem;
    margin-left: 7.5rem;
    padding: 0.2rem 1rem;
}

ul li a{
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Ubuntu, sans-serif;
}

ul li a:hover{
    color: #cb9987  ;
}

ul li a i{
    width: 4rem;
    height: 4rem;

    font-family: Ubuntu, sans-serif;
    font-size: 3rem;
    color: #FFF; 
}

ul li a i:hover{
    color: #cb9987;
}




#contact-us h5{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;

    padding-top: 1rem;
    padding-bottom: 1rem;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1374px){

    html{
        font-size: 50%;
    }

    #content1 h1, #index-characters h1, #missions h1 h2, #contact-us h1{
        font-size: 3rem;
    }

    /*HEADER*/
    .header-nav{
        display: none;
    }

    #header-nav-bt{
        display: block;

        width: 5rem;
        height: 5rem;
        background: transparent;
        border-radius: 0.4rem;
        cursor: pointer;
    }

    .line{
        width: 2.5rem;
        height: 0.2rem;
        background-color: #ccc;
        display: block;
        position: relative;
        transform-origin: center;
        margin: 0.7rem auto;
    }

    #header-nav-mobile.open{
        visibility: visible;
        height: 35vh;
    }

    .header-nav-mobile{
        display: block;
    }


    /*CONTENT1*/
    #content1{
        flex-direction: column;
    }

    #content1 img{
        order: -1;
        padding-top: 2rem;
    }

    .content1-text h1{
        padding-top: 15%;
        padding-bottom: 8%;
    }

    .content1-text{
        width: 39rem;
        height: 33rem;
    }


    /*CHARACTERS*/



    /*CAROUSEL*/
    .index-characters-cards{
        display: none;
    }

    .characters-container{
        display: block;
        position: relative;
        padding: 15px;
        max-width: 640px;
        margin: 0 auto;
    }

    .characters-container img{
        width: 23rem;
    }

    .characters-container img:hover{
        padding-top: 1rem;
    }
      
    .gallery-wrapper::-webkit-scrollbar{
        display: none;
    }
      
    .gallery-wrapper{
        overflow-x: auto;
        
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
      
    .gallery{
        display: flex;
        flex-flow: row nowwrap;
        gap: 15px;
    }
      
    .arrow-left, .arrow-right{
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        bottom: 0;
        font-size: 3rem;
        line-height:7rem;
        width: 3rem;
        text-align: center;
        color: #FFF;
        cursor: pointer;
        border: none;
        background: linear-gradient(to left, transparent 0%, black 200%);
        opacity: 0.1;
        transition: all 600ms ease-in-out;
    }
      
    .arrow-right{
        left: auto;
        right: 0;
        background: linear-gradient(to right, transparent 0%, black 200%);
    }
      
    .arrow-left:hover, .arrow-right:hover{
        opacity: 1;
    }
      
    .item{
        width: 15rem;
        flex-shrink: 0;
        opacity: 0.6;
        transition: all 600ms ease-in-out;
    }
      
    .current-item{
        opacity: 1;
    }


    /*MISSIONS*/


    
    /*CONTACT US*/
    .contact-us-blocks{
        display: flex;
        margin-top: 4%;
        flex-direction: column;
        gap: 3rem;
        padding-bottom: 3rem;
    }

    .contact-us-form{
        width: 40%;
        height: 40%;

        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    .contact-us-form h3{
        font-size: 2.5rem;
    }
    
    .contact-us-form h4{
        font-size: 2rem;
    
        padding-top: 3%;
        margin-left: 10%;
    }
    
    .contact-us-form input{
        width: 80%;
        height: 1.5rem;
        margin-left: 10%;
    }
    
    .contact-us-form button{
        width: 4rem;
        height: 1.5rem;
    
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .contact-us-form-button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 3rem;       

        background-color: khaki;
    }
    

    .contact-us-social-icons i {
        font-size: 4rem;
        margin-right: 0; 
        display: flex;
    }

    .contact-us-social-icons ul {
        display: flex;
        gap: 3rem;
    }

    ul li a i{
        width: 30%;
        height: 4rem;

        font-family: Ubuntu, sans-serif;
        font-size: 3rem;
        color: #FFF; 
    }

    ul li a i:hover{
        color: #cb9987;
    } 

    
    /*JS*/
    #header-nav-bt.activate .line:nth-child(1){
        transform: translateY(1rem) rotate(-45deg);
        background-color: #cb9987;
    }
    #header-nav-bt.activate .line:nth-child(3){
        transform: translateY(-0.8rem) rotate(45deg);
        background-color: #cb9987;
    }
    #header-nav-bt.activate .line:nth-child(2){
        width: 0;
    }

    #header-nav-br.activate{
        border: 0.1rem solid #cb9987;
    }
}

@media screen and (max-width: 500px){

    /*CHARACTERS*/
    
    /*CAROUSEL*/
    .index-characters-cards{
        display: none;
    }

    .characters-container{
        display: block;
        position: relative;
        padding: 15px;
        max-width: 300px;
        margin: 0 auto;
    }

    .characters-container img{
        width: 20rem;
    }

    .characters-container img:hover{
        padding-top: 1rem;
    }
    
    .gallery-wrapper::-webkit-scrollbar{
        display: none;
    }
    
    .gallery-wrapper{
        overflow-x: auto;
        
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    .gallery{
        display: flex;
        flex-flow: row nowwrap;
        gap: 15px;
    }
    
    .arrow-left, .arrow-right{
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        bottom: 0;
        font-size: 3rem;
        line-height:7rem;
        width: 3rem;
        text-align: center;
        color: #FFF;
        cursor: pointer;
        border: none;
        background: linear-gradient(to left, transparent 0%, black 200%);
        opacity: 0.1;
        transition: all 600ms ease-in-out;
    }
    
    .arrow-right{
        left: auto;
        right: 0;
        background: linear-gradient(to right, transparent 0%, black 200%);
    }
    
    .arrow-left:hover, .arrow-right:hover{
        opacity: 1;
    }
    
    .item{
        width: 15rem;
        flex-shrink: 0;
        opacity: 0.6;
        transition: all 600ms ease-in-out;
    }
    
    .current-item{
        opacity: 1;
    }

    .index-characters-button{
        display: flex;
        justify-content: center;
        align-items: center;
            
    }
    
    .index-characters-button a{
        color: #FFF;
        font-family: Ubuntu, sans-serif;
        font-weight: 400;
        font-size: small;
    
        background-color: #363578;
        border-radius: 0.5rem;
        box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
    
        padding: 7% 5%;
    }


    
    /*MISSIONS*/
    .missions-left{
        width: auto;
        height: 25rem;
        overflow: hidden;
    }
    
    .missions-right{
        width: auto;
        height: 25rem;
        overflow: hidden;
    }

    .missions-left-card{
        width: 18rem;
        height: 8rem;
        background-color: #110d2a;
        border-radius: 1rem;
        box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
    
        display: grid;
        margin-top: 1.5rem;
    }

    .missions-right-card{
        width: 18rem;
        height: 8rem;
        background-color: #110d2a;
        border-radius: 1rem;
        box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
    
        display: grid;
        margin-top: 1.5rem;
    }

    .missions-button{
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding-top: 0  ;
        padding-bottom: 4rem;
    }
    
    .missions-button a{
        color: #FFF;
        font-family: Ubuntu, sans-serif;
        font-weight: 400;
        font-size: small;
    
        background-color: #363578;
        border-radius: 0.5rem;
        box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
    
        padding: 1.4% 3%;
    }

    #missions h1{
        padding-top: 15%;
        padding-bottom: 8%;
    }
    
    #missions h3{
        font-size: 1rem;
    }

    #missions h4{
        font-size: 75%;
    }


    /*CONTACT US*/
    .contact-us-blocks{
        margin-top: 4%;
        flex-direction: column;
        gap: 3rem;
        padding-bottom: 3rem;
    }

    .contact-us-form{
        width: 60%;
        height: 40%;

        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    .contact-us-form h3{
        font-size: 1.8rem;
    }
    
    .contact-us-form h4{
        font-size: 1.5rem;
    
        padding-top: 3%;
        margin-left: 10%;
    }
    
    .contact-us-form input{
        width: 80%;
        height: 1.5rem;
        margin-left: 10%;
    }
    
    .contact-us-form button{
        width: 4rem;
        height: 1.5rem;
    
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .contact-us-form-button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 3rem;       

        background-color: khaki;
    }
}