@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#main-container{
    width: 100%;
    height: auto;
}



/*HEADER*/
#header{
    background-color: #110d2a;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 5%;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header img{
    width: 4rem;
    height: 4rem;

    padding-right: 2%;
}

#header h1{
    color: #fff;
    font-family: Merriweather;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);
}

#header a{
    color: #848992;
    font-family: Merriweather;
    font-size: small;
    font-weight: 500;

    padding-left: 1rem;
}

#header a:hover{
    color: #cb9987;
    text-decoration: underline;
    transition: color 0.5s ease; 
}



/*CONTENT 1*/
#content1{
    width: 100%;
    height: auto;

    background-color: #161617;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content1-text{
    width: 39rem;
    height: 40rem;
}

.content1-text h1{
    color: #cb9987;
    font-family: Merriweather;  
    font-weight: 600;
    font-size: 2rem;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);

    padding-top: 25%;
    padding-bottom: 10%;
}

.content1-text p{
    text-align: justify;
    width: 30rem;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 1.4rem;

    padding-left: 10%;
}

.content1-img{
    width: 30rem;
    height: 30rem;   
}



/*index-CHARACTERS*/
#index-characters{
    width: 100%;
    height: auto;

    background-color: #110d2a;
}

#index-characters h1{
    color: #cb9987;
    font-family: Merriweather;  
    font-weight: 600;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);

    padding-left: 9%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.index-characters-cards{
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    grid-gap: 3rem;
    justify-content: space-around;
    align-items: center;
    padding-left: 5rem;
}

.index-characters-card1{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/baluni.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);

}

.index-characters-card1:hover{
    background-image: url(assets/blue-background-hover/baluni.png);
    transition: background-image 0.8s ease; 
}

.index-characters-card2{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/juno.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.index-characters-card2:hover{
    background-image: url(assets/blue-background-hover/juno.png);
    transition: background-image 0.8s ease; 
}

.index-characters-card3{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/nelson.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.index-characters-card3:hover{
    background-image: url(assets/blue-background-hover/nelson.png);
    transition: background-image 0.8s ease; 
}

.index-characters-card4{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/nina.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.index-characters-card4:hover{
    background-image: url(assets/blue-background-hover/nina.png );
    transition: background-image 0.8s ease; 
}

.index-characters-card5{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/ricardo.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.index-characters-card5:hover{
    background-image: url(assets/blue-background-hover/ricardo.png);
    transition: background-image 0.8s ease; 
}

.index-characters-card6{
    width: 20rem;
    height: 20rem;
    background-image: url(assets/blue-background/steff.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.index-characters-card6:hover{
    background-image: url(assets/blue-background-hover/steff.png);
    transition: background-image 0.8s ease; 
}

.index-characters-button{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 4%;
    padding-bottom: 4%;
}

.index-characters-button a{
    color: #FFF;
    font-family: Ubuntu;

    background-color: #363578;
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);

    padding: 1rem 2rem;
}

.index-characters-button a:hover{
    color: #cb9987;
    transition: 0.3s color ease;
}



/*MISSIONS*/
#missions{
    background-color:  #161617;
    background-image: url(assets/luxa.org-opacity-changed-luxa.org-opacity-changed-aldoria_logo_png_bg-removebg-preview-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
}

#missions h1{    
    color: #cb9987;
    font-family: Merriweather;  
    font-weight: 600;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);

    padding-left: 9%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.missions-blocks{
    display: flex;
    justify-content: center;
}

.missions-blocks h2{
    color: #cb9987;
    font-family: Merriweather;
    font-size: larger;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);

    padding-left: 27%;
}

.missions-stars{
    width: 1.5rem;
    height: 1.5rem;
}

.missions-left-card-stars{
    display: flex;
    justify-content: center;
}

.missions-right-card-stars{
    display: flex;
    justify-content: center;
}


.missions-left{
    width: 30rem;
    height: 25rem;
}

.missions-card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.missions-blocks h3{
    width: 18rem;
    color: #FFF;
    font-family: Ubuntu;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
}

.missions-blocks h4{
    color: #cb9987;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: small;

    display: flex;
    justify-content: center;
}

.missions-left-card{
    width: 20rem;
    height: 10rem;
    background-color: #110d2a;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);

    display: grid;

    margin-top: 1.5rem;
    margin-left: 4.5rem;
}

.missions-left-card:hover{
    background-color: #363578;
    transition: background-color 0.8s ease;
}

.missions-right{
    width: 30rem;
    height: 25rem;
}

.missions-right-card{
    width: 20rem;
    height: 10rem;
    background-color: #110d2a;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);

    display: grid;

    margin-top: 1.5rem;
    margin-left: 4.5rem;
}

.missions-right-card:hover{
    background-color: #363578;
    transition: background-color 0.8s ease;
}

.missions-button{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 4%;
    padding-bottom: 4%;
}

.missions-button a{
    color: #FFF;
    font-family: Ubuntu;

    background-color: #110d2a;
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);

    padding: 1rem 2rem;
}

.missions-button a:hover{
    background-color: #363578;
    color: #cb9987;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

/*CONTACT US*/

#contact-us{
    width: 100%;
    height: auto;
    background-color: #110d2a;
}

#contact-us h1{
    color: #cb9987;
    font-family: Merriweather;  
    font-weight: 600;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);

    padding-left: 9%;
    padding-top: 3%;
    padding-bottom: 1%;
}

#contact-us h2{
    color: #FFF;
    font-family: Ubuntu;
    font-size: large;
    font-weight: 400;

    padding-left: 9%;
}

.contact-us-blocks{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 25%;
}

.contact-us-form{
    width: 20rem;
    height: 17rem;

    background-color: #363578;
    color: #FFF;
    border-radius: 1rem;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact-us-form h3{
    display: flex;
    justify-content: justify;
    align-items: center;
    text-align: center;
    
    color: #cb9987;
    font-family: Merriweather;

    padding-top: 10%;
}

.contact-us-form h4{
    color: #FFF;
    font-family: Ubuntu;
    font-weight: 400;

    padding-top: 6%;
    margin-left: 2rem;
}

.contact-us-form input{
    width: 15rem;
    height: 1rem;
}

.contact-us-form button{
    width: 4rem;
    height: 1.5rem;

    color: #363578;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;


    margin-top: 1rem;
    margin-left: 8rem;
}

.contact-us-form-text{
    width: 15rem;
    margin-left: 2rem;
}

.contact-us-form-button{
    color: #363578;
    background-color: #FFF;
    font-family: Ubuntu;
    border-radius: 0.25rem;

    margin-top: 1rem;
    margin-left: 7.5rem;
    padding: 0.2rem 1rem;
}

ul li a{
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Ubuntu;
}

ul li a:hover{
    color: #cb9987  ;
}

ul li a i{
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    color: #FFF; 
    font-family: Ubuntu;
}

ul li a i:hover{
    color: #cb9987;
}

#contact-us h5{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;
    font-family: Ubuntu;
    font-weight: 400;

    padding-top: 1rem;
    padding-bottom: 1rem;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1374px){

    html{
        font-size: 50%;
    }

    /*HEADER*/
    .header-nav{
        display: none;
    }

    /*CONTENT1*/
    #content1{
        flex-direction: column;

    }

    #content1 img{
        order: -1;
        padding-top: 2rem;
    }

    .content1-text h1{
        padding-top: 15%;
        padding-bottom: 8%;
    }

    .content1-text{
        width: 39rem;
        height: 33rem;
    }


    /*CONTACT-US*/
    .contact-us-blocks{
        margin-top: 1rem;
        flex-direction: column;
        gap: 3rem;
    }

    .contact-us-social-icons{
        display: flex;
    }




}

/*
@media (max-width: 1440px){
    html{
        font-size: 75%;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
}

@media (max-width: 1024px){
    html{
        font-size: 50%;
    }
}

@media (max-width: 690px){
    #content1{
        flex-direction: column;
    }

    #content1 img{
        order: -1;
    }

}

@media (max-width: 426px){
    .contact-us-blocks{
        flex-direction: column;

        gap: 3rem;
    }
}*/