@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#characters{
    width: 100%;
    height: auto;
    background-color: #161617;
    
}

.characters-block{
    padding: 5% 5% 0 5%;    
}

#characters h1{
    color: #cb9987;
    font-family: Merriweather;
    font-size: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 5%;
    padding-bottom: 1%;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.8);
}

#characters p{
    text-align: justify;
    width: 80%;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 1.3rem;
    font-weight: 400;

    padding-left: 10%;
}

.characters-img1{
    width: 25%;
    height: 25%;
    border-radius: 3rem;

    margin-right: 3%;
}

.characters-img2{
    width: 25%;
    height: 25%;
    border-radius: 3rem;

    margin-left: 3%;
}

.characters-container{
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
}

.characters-container h2{
    color: #cb9987;
    font-family: Merriweather;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
}   

.characters-container h3{
    color: #cb9987;
    font-family: Merriweather;

    padding-top: 4%;
}

.characters-container h3 span{
    color: #FFF;
    font-family: Ubuntu;
    font-weight: 300;
}